* {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear:both;
  }
}

body {
  font-family: "Helvetica Neue";
  font-weight: 100;
}

h1, h2 {
  margin-left: 50px;
  font-weight: 100;
  clear: both;
}

.block {
  width: 30vw;
  float: left;
}

.exhibit {
  margin: 1.5vw;
}

.cage {
  width: 225px;
  padding: 0 10px;
  float: left;
  height: 225px;
  background-repeat: no-repeat;
  background-size: 225px;
}

#save-button {
  background: transparent;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  clear: both;
}



